    <!-- 01 banner section start -->
    <section class="Banner_section">
        <div class="container">
            <div class="banner-content">
                <div class="row justify-content-start">
                    <div class="col-xl-8 col-md-10">
                        
                            
                            
                              
                                  <div class="d-sm-flex row">
                                    
                                    <div class="card col-sm-7">
                                        <div class="desc-box">
                                            <p class="fst-italic">Our People Are Our Greatest Asset And Biggest Differentiator.</p>
                                                 <div class="my-4">
                                                    <!-- <h4>ethos of economic</h4> -->
                                                    <!-- <p class="m-0 text-white"></p> -->
                                                 </div>
                                                 <!-- <img src="image/gallery/icon-mail.png" alt="" class="float-end"> -->
                                        </div>
                                    </div>
                                  </div>
                              
                              
                                
                              
                              
                           
                           
                            
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
      
      <!-- banner section exit -->
  
       
  
  
      <!--02 Features Section start -->
  
     <section class="coreturm">
      <div class="container">
          <div class="row">
              <div class="core_container">
                  <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores adipisci 
                      temporibus at reiciendis obcaecati consequuntur quisquam eligendi odit illo aliquid
                       rerum omnis aperiam necessitatibus cumque nesciunt, suscipit explicabo quod iusto?
                       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus soluta eligendi
                        officiis reiciendis vel error obcaecati, iure blanditiis corrupti ullam tenetur.
                         Mollitia, saepe sunt distinctio necessitatibus excepturi quod dolore vitae
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nam iusto eius veritatis 
                         at ad dolorem dolores, consequatur libero, assumenda laboriosam fugiat. Fuga 
                         necessitatibus quia quo, voluptatem laboriosam quisquam pariatur.!
                  </p>
              </div>
              <div class="row g-5">
                 
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card features-box">
                          <div class="text-center">
                              <div class="card">
                                  <img src="../../../assets/img/team.jpeg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Ajay Singhal</h5>
                                    <p class="card-text">Chief Managing Director</p>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                  </div>
                                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card features-box">
                          <div class="text-center">
                              <div class="card">
                                  <img src="../../../assets/img/team.jpeg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h5 class="card-title">Ajay Singhal</h5>
                                    <p class="card-text">Chief Managing Director</p>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                  </div>
                                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card features-box">
                          <div class="text-center">
                              <div class="card">
                                  <img src="../../../assets/img/team.jpeg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                      <h5 class="card-title">Ajay Singhal</h5>
                                      <p class="card-text">Chief Managing Director</p>
                                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                  </div>
                                </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card features-box">
                          <div class="text-center">
                              <div class="card">
                                  <img src="../../../assets/img/team.jpeg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                      <h5 class="card-title">Ajay Singhal</h5>
                                      <p class="card-text">Chief Managing Director</p>
                                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                  </div>
                                </div>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card features-box">
                          <div class="text-center">
                              <div class="card">
                                  <img src="../../../assets/img/team.jpeg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                      <h5 class="card-title">Ajay Singhal</h5>
                                      <p class="card-text">Chief Managing Director</p>
                                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                  </div>
                                </div>
                          </div>
                      </div>
                  </div>
      
      
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card features-box">
                          <div class="text-center">
                              <div class="card">
                                  <img src="../../../assets/img/team.jpeg" class="card-img-top" alt="...">
                                  <div class="card-body">
                                      <h5 class="card-title">Ajay Singhal</h5>
                                      <p class="card-text">Chief Managing Director</p>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                  </div>
                                </div>
                          </div>
                      </div>
                  </div>
      
      
                  
              </div>
          </div>
      </div>
     </section>
  
     <!-- Features Section exit -->
