
<header id="full_nav">
    <div class="primary_header">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                
                  <!-- <a class="navbar-brand" href="#"><img src="image/gallery/icon-mail.png" alt=""></a> -->
                  <span class="email"><a class="navbar-brand" href="#"><img src="image/gallery/icon-mail.png" alt=""></a> Email Us At: <a href="">Info.logitics@apexy.in</a></span>
                  
                  <!--<div class="primary" id="navbarText">-->
                    
                  <!--  <ul class="social">-->
                  <!--      <li>-->
                  <!--          <a href="" title="Facebook"><i class="fab fa-facebook-square"></i></a>-->
                  <!--      </li>-->
                  <!--      <li>-->
                  <!--          <a href="" title="Twitter"><i class="fab fa-twitter"></i></a>-->
                  <!--      </li>-->
                  <!--      <li>-->
                  <!--          <a href="" title="linkedin"><i class="fab fa-linkedin"></i></a>-->
                  <!--      </li>-->
                  <!--  </ul>-->

                    
                    
                  <!--</div>-->
                <!--  <div class="header_right">-->
                <!--    <div class="text-lg-end">-->
                <!--        <span>Call Us</span>-->
                <!--        <span class="phone_no">893467984</span>-->
                <!--    </div>-->
                <!--</div>-->
                <!--  <span class="navbar-text">-->
                <!--    <a href="" class="ship">TRACK YOUR SHIPMENT</a>-->
                <!--</span>-->
            </nav>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="row">
                    
                

            </div>
            <nav class="navbar navbar-expand-lg">

                  <a class="navbar-brand" href="#">
                    <img src="../../../assets/img/logomain.jpeg" alt="logo">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <i class="fas fa-stream navbar-toggler-icon"></i>
                  </button>
                  <div class="collapse navbar-collapse navigation" id="navbarSupportedContent">
                    
                    <ul class="navbar-nav mx-auto">
                        <!--<li class="nav-item dropdown">-->
                        <!--    <a class="nav-link dropdown-toggle" href="about.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
                        <!--     About Us-->
                        <!--    </a>-->
                        <!--    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                        <!--        <li><a class="dropdown-item" href="about.html">About</a></li>-->
                              <!--<li><a class="dropdown-item" href="#">What We Stand For</a></li>-->
                              <!--<li><a class="dropdown-item" href="#">Our Successive Growth</a></li>-->
                              <!--<li><hr class="dropdown-divider"></li>-->
                        <!--      <li><a class="dropdown-item" href="coreturm.html">Core Team</a></li>-->
                              <!--<li><a class="dropdown-item" href="#">Vision, Mission & Our Values</a></li>-->
                              <!--<li><a class="dropdown-item" href="#">AWARDS AND ACHIEVEMENTS</a></li>-->
                              <!--<li><a class="dropdown-item" href="#">Customer Testimonial</a></li>-->
                        <!--    </ul>-->
                        <!--  </li>-->
                           
                          <li class="nav-item">
                            <a class="nav-link" href="" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
                          </li>
                           <!-- <li class="nav-item">
                            <a class="nav-link" href="" routerLink="services" routerLinkActive="active-link">Service</a>
                          </li> -->
                          
                          
                          <li class="nav-item">
                            <a class="nav-link" href="" routerLink="about" routerLinkActive="active-link">About Us</a>
                          </li>


                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <!--<li><a class="dropdown-item" href="#">Media Release</a></li>-->
                              <!--<li><a class="dropdown-item" href="#">Events & Activities</a></li>-->
                              <!--<li><hr class="dropdown-divider"></li>-->
                              <li><a class="dropdown-item" href="" routerLink="booking" routerLinkActive="active-link">Transport Service</a></li>

                              <li><a class="dropdown-item" href="" routerLink="airservices" routerLinkActive="active-link">Air Service</a></li>
                              <li><a class="dropdown-item" href="" routerLink="services" routerLinkActive="active-link">Cargo</a></li>

                              

                              
                              <!--<li><a class="dropdown-item" href="#">Surface Services</a></li>-->
                            </ul>
                          </li>
                           

                      <!--<li class="nav-item dropdown">-->
                      <!--  <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
                      <!--   Your Industry-->
                      <!--  </a>-->
                      <!--  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                      <!--    <li><a class="dropdown-item" href="#">Automotive</a></li>-->
                      <!--    <li><a class="dropdown-item" href="#">Consumer & Retail</a></li>-->
                      <!--    <li><a class="dropdown-item" href="#">Fashion</a></li>-->
                      <!--    <li><a class="dropdown-item" href="#">Manufacturing</a></li>-->
                      <!--    <li><hr class="dropdown-divider"></li>-->
                      <!--    <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                      <!--  </ul>-->
                      <!--</li>-->
                      <!--<li class="nav-item dropdown">-->
                      <!--  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
                      <!--    WHAT WE OFFER-->
                      <!--  </a>-->
                      <!--  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                      <!--    <li><a class="dropdown-item" href="#">Air Services</a></li>-->
                      <!--    <li><a class="dropdown-item" href="#">Rail Services</a></li>-->
                      <!--    <li><hr class="dropdown-divider"></li>-->
                      <!--    <li><a class="dropdown-item" href="#">3PL/Warehouse Services</a></li>-->
                      <!--    <li><a class="dropdown-item" href="#">Surface Services</a></li>-->
                      <!--  </ul>-->
                      <!--</li>-->
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Media Room
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <!--<li><a class="dropdown-item" href="#">Media Release</a></li>-->
                          <!--<li><a class="dropdown-item" href="#">Events & Activities</a></li>-->
                          <!--<li><hr class="dropdown-divider"></li>-->

                          <li><a class="dropdown-item" href="" routerLink="contact" routerLinkActive="active-link">Media Query</a></li>

                          <li><a class="dropdown-item" href="" routerLink="blogs" routerLinkActive="active-link">Blogs</a></li>
                          <!--<li><a class="dropdown-item" href="#">Surface Services</a></li>-->
                        </ul>
                      </li>
                      <!--<li class="nav-item dropdown">-->
                      <!--  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
                      <!--    Sustainability-->
                      <!--  </a>-->
                      <!--  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                      <!--    <li><a class="dropdown-item" href="#">OM Sustainability Group</a></li>-->
                      <!--    <li><a class="dropdown-item" href="#">Corporate Social Responsibility</a></li>-->
                      <!--    <li><hr class="dropdown-divider"></li>-->
                      <!--    <li><a class="dropdown-item" href="#">3PL/Warehouse Services</a></li>-->
                      <!--    <li><a class="dropdown-item" href="#">Surface Services</a></li>-->
                      <!--  </ul>-->
                      <!--</li>-->
                      <!--<li class="nav-item dropdown">-->
                      <!--  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
                      <!--    Join Us-->
                      <!--  </a>-->
                      <!--  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                      <!--    <li><a class="dropdown-item" href="#">Career</a></li>-->
                      <!--    <li><a class="dropdown-item" href="#">Franchise</a></li>-->
                      <!--    <li><hr class="dropdown-divider"></li>-->
                      <!--    <li><a class="dropdown-item" href="#">OM Institute</a></li>-->
                      <!--    <li><a class="dropdown-item" href="#">Surface Services</a></li>-->
                      <!--  </ul>-->
                      <!--</li>-->
                      <li class="nav-item">
                        <a class="nav-link" href="" routerLink="location" routerLinkActive="active-link">Location</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="" routerLink="location" routerLinkActive="active-link">Tracking Shipment</a>
                      </li>
                    </ul>
                    
                    <form class="d-flex">
                      <a routerLink="signup" class="btn main-btn">Login</a>
                      <a routerLink="signup" class="btn main-btn">SignUp</a>
                    </form>
                  </div>
             
              </nav>
              
        </div>
    </div>
  </header>