
    <!-- 01 banner section start -->
    <section class="Banner_section">
        <div class="container">
            <div class="banner-content">
                <div class="row justify-content-start">
                    <div class="col-xl-8 col-md-10">
                        
                            
                            
                              
                                  <div class="d-sm-flex row">
                                    
                                    <div class="card col-sm-7">
                                        <div class="desc-box">
                                            <p class="fst-italic">economic development of the communities in which we operate. We believe and act on
                                                 an ethos of economic development of the communities in which we operate. We believe and act on an 
                                                 ethos of</p>
                                                 <div class="my-4">
                                                    <h4>ethos of economic</h4>
                                                    <p class="m-0 text-white"></p>
                                                 </div>
                                                 <!-- <img src="image/gallery/icon-mail.png" alt="" class="float-end"> -->
                                        </div>
                                    </div>
                                  </div>
                              
                              
                                
                              
                              
                           
                           
                            
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
      
      <!-- banner section exit -->
  
       
  
  
      <!--02 Features Section start -->
  
     
  
     <!-- Features Section exit -->
  
  
  
     
  
  
      <!-- 03 About section start -->
      
      <section class="About_section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 text-center pb-5">
              <h2 class="section-title">About Us</h2>
              <p class="section-subtitle"> this is one of the unique product which is an excellent  </p>
            </div>
          </div>
          <div class="row align-items-center py-5">
            <div class="col-lg-6 col-12 mb-4">
              <img src="../../../assets/img/om_oo1-.jpg" alt="About" class="img-fluid">
            </div>
            <div class="col-lg-6 col-12 mb-4">
              <div class="about-content">
                <div class="about-details">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quisquam consectetur ipsum,
                     provident delectus iure magni, aut facere ipsa ducimus beatae. Officia esse iure 
                     corrupti doloribus facilis vitae? Fugit, veritatis.
                  </p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quisquam consectetur ipsum,
                    provident delectus iure magni, aut facere ipsa ducimus beatae. Officia esse iure 
                    corrupti doloribus facilis vitae? Fugit, veritatis.
                 </p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quisquam consectetur ipsum,
                  provident delectus iure magni, aut facere ipsa ducimus beatae. Officia esse iure 
                  corrupti doloribus facilis vitae? Fugit, veritatis.
               </p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quisquam consectetur ipsum,
                provident delectus iure magni, aut facere ipsa ducimus beatae. Officia esse iure 
                corrupti doloribus facilis vitae? Fugit, veritatis.
             </p>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quisquam consectetur ipsum,
              provident delectus iure magni, aut facere ipsa ducimus beatae. Officia esse iure 
              corrupti doloribus facilis vitae? Fugit, veritatis.
           </p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </section>
      
      <!-- 03  About section exit -->
  
      <!-- 04 product section start -->
      <section class="landing_about1_section">
  
        <div class="container">
            <div class="row align-items-center">
                
                <div class="col-xl-6 col-lg-6 col-sm-8">
                    <div class="about-content">
                        <!-- <p>About</p> -->
                        <h4>Mission</h4>
                        <div class="about-detials">
                            <!-- <p class="fw-bold">To promote teamwork & create a work environment 
                              encouraging the workforce to continuously strive for quality & 
                              excellence, providing high quality service to customers under one roof.</p> -->
                            <p>Capitalizing on its in-depth domain knowledge
                                 and expertise in the field, the organization
                                  grew from a mere logistics solutions provider
                                   to a diverse business conglomerate, which now 
                                   is parent to various companies that offer a plethora of
                                    services.</p>
                                  
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-6 col-lg-6 col-sm-8">
                  <div class="about-content">
                    <!-- <p>About</p> -->
                    <h4>Our Organisation</h4>
                    <div class="about-detials">
                        <!-- <p class="fw-bold">To promote teamwork & create a work environment 
                          encouraging the workforce to continuously strive for quality & excellence, 
                          providing high quality service to customers under one roof.</p> -->
                        <p>Capitalizing on its in-depth domain knowledge
                             and expertise in the field, the organization
                              grew from a mere logistics solutions provider
                               to a diverse business conglomerate, which now 
                               is parent to various companies that offer a plethora of
                                services.</p>
                                
                    </div>
                </div>
                </div>
            </div>
            <div class="row align-items-center">
                
              <div class="col-xl-6 col-lg-6 col-sm-8">
                  <div class="about-content">
                      <!-- <p>About</p> -->
                      <h4>Mission</h4>
                      <div class="about-detials">
                          <!-- <p class="fw-bold">To promote teamwork & create a work environment 
                            encouraging the workforce to continuously strive for quality & 
                            excellence, providing high quality service to customers under one roof.</p> -->
                          <p>Capitalizing on its in-depth domain knowledge
                               and expertise in the field, the organization
                                grew from a mere logistics solutions provider
                                 to a diverse business conglomerate, which now 
                                 is parent to various companies that offer a plethora of
                                  services.</p>
                                
                      </div>
                  </div>
              </div>
              
              <div class="col-xl-6 col-lg-6 col-sm-8">
                <div class="about-content">
                  <!-- <p>About</p> -->
                  <h4>Our Organisation</h4>
                  <div class="about-detials">
                      <!-- <p class="fw-bold">To promote teamwork & create a work environment 
                        encouraging the workforce to continuously strive for quality & excellence, 
                        providing high quality service to customers under one roof.</p> -->
                      <p>Capitalizing on its in-depth domain knowledge
                           and expertise in the field, the organization
                            grew from a mere logistics solutions provider
                             to a diverse business conglomerate, which now 
                             is parent to various companies that offer a plethora of
                              services.</p>
                              
                  </div>
              </div>
              </div>
          </div>
        </div>
  
    </section>
  
      <!-- 04 product section start -->
  
      <!-- 05 testimonial Section start -->
  
      <section class="testimonial1_section">
        <div class="container">
            <div class="row pb-5">
                <div class="col-12 text-center">
                    <h2 class="section-title">Testimonials</h2>
                    <p class="section-subtutle">WHAT PEOPLE SAY</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-md-10">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                              <div class="d-sm-flex row">
                                <div class="profile-box col-sm-5">
                                  <div class="desc-box">
                                   <p class="fst-italic"> economic development of the communities in which we operate. We believe and act on an ethos of economic development of the communities in which we operate. We believe and act on an ethos of
  
                                  ethos of economic
                                  
                                  Previous </p>
                                  </div>
                                </div>
                                <div class="card col-sm-7">
                                    <div class="desc-box">
                                        <p class="fst-italic">economic development of the communities in which we operate. We believe and act on
                                             an ethos of economic development of the communities in which we operate. We believe and act on an 
                                             ethos of</p>
                                             <div class="my-4">
                                                <h4>ethos of economic</h4>
                                                <p class="m-0 text-white"></p>
                                             </div>
                                             <!-- <img src="image/gallery/icon-mail.png" alt="" class="float-end"> -->
                                    </div>
                                </div>
                              </div>
                          </div>
                          
                            <div class="carousel-item ">
                                <div class="d-sm-flex row">
                                  <div class="profile-box col-sm-5">
                                    <div class="desc-box">
                                     <p class="fst-italic"> economic development of the communities in which we operate. We believe and act on an ethos of economic development of the communities in which we operate. We believe and act on an ethos of
    
                                    ethos of economic
                                    
                                    Previous </p>
                                    </div>
                                  </div>
                                  <div class="card col-sm-7">
                                      <div class="desc-box">
                                          <p class="fst-italic">economic development of the communities in which we operate. We believe and act on
                                               an ethos of economic development of the communities in which we operate. We believe and act on an 
                                               ethos of</p>
                                               <div class="my-4">
                                                  <h4>ethos of economic</h4>
                                                  <p class="m-0 text-white"></p>
                                               </div>
                                               <!-- <img src="image/gallery/icon-mail.png" alt="" class="float-end"> -->
                                      </div>
                                  </div>
                                </div>
                            </div>
                          
                          <div class="carousel-item">
                            
                                <div class="d-sm-flex row">
                                  <div class="profile-box col-sm-5">
                                    <div class="desc-box">
                                     <p class="fst-italic"> economic development of the communities in which we operate. We believe and act on an ethos of economic development of the communities in which we operate. We believe and act on an ethos of
    
                                    ethos of economic
                                    
                                    Previous </p>
                                    </div>
                                  </div>
                                  <div class="card col-sm-7">
                                      <div class="desc-box">
                                          <p class="fst-italic">economic development of the communities in which we operate. We believe and act on
                                               an ethos of economic development of the communities in which we operate. We believe and act on an 
                                               ethos of</p>
                                               <div class="my-4">
                                                  <h4>ethos of economic</h4>
                                                  <p class="m-0 text-white"></p>
                                               </div>
                                               <!-- <img src="image/gallery/icon-mail.png" alt="" class="float-end"> -->
                                      </div>
                                  </div>
                                </div>
                            
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
        </div>
    </section>
  
      <!-- 05 testimonial Section end -->
