<!-- 01 banner section start -->
    
<section class="Banner_section">
    <div class="container">
        
        <div class="row g-5">
            <!-- <p class="text-danger">Blogs</p> -->
            
            <div class="col-12 text-center pb-5">
                  <div class="row"> 
                    <h5 class="section-title">Blogs</h5> <br>  
                    <div class="blogs col-lg-7">

                        <a class="navbar-brand" href="#">
                            <img src="../../../assets/img/logomain.jpeg" alt="logo">
                          </a>
                        <br><br><br>
                <!-- <li> Top 10 Logistics Companies In India </li> -->
                        <a href=""> Top 10 Logistics Companies In India  </a><br>
                        <a href="">Express Logistics Services In India </a><br>
                        <a href=""> Logistics Companies In Bangalore </a><br>
                        <a href="">Logistics Companies In Chennai    </a><br>
                        <a href="">Logistics Company In Mumbai </a><br>
                        <a href="">Express Delivery Services In India   </a><br>
                        <a href="">Freigth Forwarding Services In India  </a><br>
                        <a href="">Warehousing And Distribution Services In India   </a><br>
                        <a href="">Best Door To Door Express Services In India   </a><br>
                    </div>
    
                    <div class="col-lg-5 mb-5">
                        <section class="side_wrapper mt-3 mb-md-0">
                            <div class="container px-5 px-lg-0">
                                <div class="row">
                                    
                                    
                                        <h5>CATEGORIES</h5>
                                        <ul class="link-widget p-0">
                                            <li><a href="#">Media Release</a></li>
                                            <li><a href="#">New Post</a></li>
                                            <li><a href="#">service</a></li>
                                            <li><a href="#">Uncategorized</a></li>
                                           
                                        </ul>
                                       

                                        <h5>RECENT POSTS</h5>
                                        <ul class="link-widget p-0">
                                            <li><a href="#">7 Ways! How Supply Chain Collaboration Enhances Customer Satisfaction ?</a></li>
                                            <li><a href="#">Retail Logistics – The Express Delivery</a></li>
                                            <li><a href="#">Importance of Artificial Intelligence in supply chain management</a></li>
                                            <li><a href="#">Top 5 benefits of Cross-docking & its types?</a></li>
                                            <li><a href="#">Essentials of Reverse Logistics in Circular Economy!</a></li>
                                           
                                        </ul>
                                    
                                    
                                    
                                </div>
                            </div>
                            
                        </section>

<br><br><br>

                    </div>
                  </div> 
            
            
        </div>
            
           
    
    
            
    
    
            
        </div>
    </div>

</section>
<!-- banner section exit -->

 


<!--02 Features Section start -->


